.toolbar {
    padding: 0 14px;
    color: primary;
    height: 30px;
    width: 97%;
}

.add-button {
    // padding: 0 14px;
    height: 20px;
    width: 20px;
}

.toll-spacer {
    flex: 1 1 auto;
}