<div *ngIf="vacancies.length" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="2.5%">
    <mat-toolbar class="transparent">

        <h1>Vacancies</h1>
        <span class="toll-spacer"></span>

        <mat-form-field>
            <mat-label>Company</mat-label>
            <input matInput type="search" placeholder="Company">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nº Vacancy</mat-label>
            <input matInput type="search" placeholder="Code vacancy">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Office</mat-label>
            <input matInput type="search" placeholder="Office">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>

        <span class="toll-spacer"></span>
        <button *ngIf="userEmployer" mat-mini-fab color="primary" (click)="edit(0)">
            <mat-icon>add</mat-icon>
        </button>

    </mat-toolbar>
    <div *ngFor="let vacancy of vacancies">

        <mat-card class="card-vacancy">
            <mat-card-header>
                <img *ngIf="vacancy.avatar" mat-card-avatar [src]="vacancy.avatar">
                <img *ngIf="!vacancy.avatar" mat-card-avatar [src]="avatarDefault">
                <mat-card-title>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div>
                            {{vacancy.name}}
                        </div>
                        <div class="code-vacancy">
                            Nº: {{vacancy.codeVacancy}}
                        </div>
                    </div>
                </mat-card-title>
                <mat-card-subtitle>{{vacancy.office}}</mat-card-subtitle>
            </mat-card-header>
            <div class="img">
                <img mat-card-image [src]="vacancy.logo">
            </div>
            <mat-card-content>
                <p>{{vacancy.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="!candidacy" mat-button (click)="iWant(vacancy)">I WANT</button>
                <button mat-button (click)="shareVacancy(vacancy)">SHARE</button>
                <button *ngIf="sessaoId === vacancy.userid" mat-button (click)="edit(vacancy.codeVacancy)">EDIT</button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>

<div *ngIf="!vacancies.length" class="loading-page" fxLayout="row" fxLayoutAlign="center center">
    <div class="spinner"></div>
</div>