<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="2.5%">
    <mat-toolbar class="transparent">

        <h1>Vagas</h1>
        <span class="toll-spacer"></span>
        <button mat-mini-fab color="primary" (click)="edit(0)">
          <mat-icon>add</mat-icon>
        </button>
      
      </mat-toolbar>
    <div *ngFor="let vacancy of vacancies">
        
        <mat-card class="card-vacancy">
            <mat-card-header>
                <img mat-card-avatar [src]="vacancy.user.avatar">
                <mat-card-title>{{vacancy.name}}</mat-card-title>
                <mat-card-subtitle>{{vacancy.office}}</mat-card-subtitle>
            </mat-card-header>
            <div class="img">
                <img mat-card-image [src]="vacancy.logo">
            </div>
            <mat-card-content>
                <p>{{vacancy.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>I WANT</button>
                <button mat-button (click)="shareVacancy(vacancy)">SHARE</button>
            </mat-card-actions>
        </mat-card>
    
    </div>

</div>