<section>

    <mat-toolbar color="primary" *ngIf="!hideHeader">

        <section id="menu">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
                <mat-icon *ngIf="drawer.opened">close</mat-icon>
            </button>
            <span class="logo">
                <a routerLink="/">
                    <!-- <img src="assets/images/logo.png" height="22" /> -->
                    <span *ngIf="innerWidth >= 365">Currículo Único</span>
                </a>
            </span>
        </section>

        <span class="toll-spacer"></span>

        <section *ngIf="innerWidth >= 1050" id="description">
            <span >Com um único cadastro seu currículo está em todas as plataformas</span>
        </section>

        <span class="toll-spacer"></span>

        <section id="acao">
            <button mat-button (click)="login()" *ngIf="!isLoggedIn">Login</button>
            <button mat-button (click)="signup()" *ngIf="!isLoggedIn">Cadastre-se</button>
            <button mat-button (click)="perfil()" *ngIf="isLoggedIn && role != 'ADMIN'">Perfil</button>
            <button mat-button (click)="logout()" *ngIf="isLoggedIn">Sair</button>
        </section>

    </mat-toolbar>

</section>

<mat-drawer-container autosize>

    <mat-drawer #drawer class="drawer" role="navigation" fixedInViewport="true" mode="side" opened=false>

        <mat-nav-list>
            <a routerLinkActive mat-list-item (click)="drawer.toggle()" routerLink="/agency">
                <div class="mat-list-item-content">Agency</div>
            </a>
            <a routerLinkActive mat-list-item (click)="drawer.toggle()" routerLink="/user">
                <div class="mat-list-item-content">User</div>
            </a>
        </mat-nav-list>
        
    </mat-drawer>

    <main principal fxLayout="row" fxLayoutAlign="center stretch">
        <div [class]="hideHeader ? 'full-height' : 'components-height'" fxFlex="95%">
            <router-outlet></router-outlet>
        </div>
    </main>
    <!-- <app-footer style="width: 100%; bottom: 0;"></app-footer> -->

</mat-drawer-container>