<mat-sidenav-container class="sidenav-container">

    <!-- [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over' 'push' : 'side'" -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" mode="push" opened=false>

        <mat-toolbar color="primary" class="mat-toolbar mat-primary">
            <h1>Menu</h1>
            <span class="remaining-space"></span>
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLinkActive mat-list-item (click)="drawer.close()" routerLink="/agency">Agency</a>
            <a routerLinkActive mat-list-item (click)="drawer.close()" routerLink="/user">User</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="width: 100%; height: 100vh">

        <mat-toolbar color="primary" *ngIf="!loginScreen">

            <section id="menu">
                <button mat-icon-button (click)="drawer.toggle()" *ngIf="!drawer.opened">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="logo">
                    <a routerLink="/">
                        <!-- <img src="assets/images/logo.png" height="22" /> -->
                        <span *ngIf="innerWidth >= 365">Currículo Único</span>
                    </a>
                </span>
            </section>

            <span class="remaining-space"></span>

            <section id="description">
                <span *ngIf="innerWidth >= 1000">Com um único cadastro seu currículo está em todas as plataformas</span>
            </section>

            <span class="remaining-space"></span>

            <section id="acao">
                <button mat-button (click)="login()" *ngIf="!isLoggedIn">Login</button>
                <button mat-button (click)="perfil()" *ngIf="isLoggedIn">Perfil</button>
                <button mat-button (click)="logout()" *ngIf="isLoggedIn">Sair</button>
            </section>

        </mat-toolbar>

        <main principal fxLayout="row" fxLayoutAlign="center center">
            <section style="height: 78vh" fxFlex="95%">
                <router-outlet></router-outlet>
            </section>
        </main>

        <!-- <app-footer style="width: 100%; bottom: 0;"></app-footer> -->

    </mat-sidenav-content>
</mat-sidenav-container>