::ng-deep .message {
  color: #fff !important;

  .mat-simple-snackbar-action {
    color      : #fafafa !important;
    border-left: 2px solid #fff !important;
  }
}

::ng-deep .ag-row-hover {
  background-color: #dfdfff !important;
}

::ng-deep * {
  margin         : 0;
  padding        : 0;
  border         : 0;
  text-decoration: none;
}


.sidenav {
  width     : 200px;
  box-shadow: 0 0 0.5px #27394c;
}

.remaining-space {
  flex: 1 1 auto;
}

.logo span {
  position : relative;
  // top      : -4px;
  left     : 4%;
  color    : #ffffff;
  font-size: 22px;
}