.components-height {
  height: 91.95vh;
}

.drawer {
  width          : 200px;
  // box-shadow     : 0 0 0.5px #27394c;
}

.logo span {
  position    : relative;
  // top      : -4px;
  left        : 4%;
  color       : #ffffff;
  font-size   : 22px;
}