::ng-deep .message {
  color: #fff !important;

  .mat-simple-snackbar-action {
    color      : #fafafa !important;
    border-left: 2px solid #fff !important;
  }
}

::ng-deep .ag-row-hover {
  background-color: #dfdfff !important;
}

::ng-deep * {
  margin         : 0;
  padding        : 0;
  border         : 0;
  text-decoration: none;
}

::ng-deep .full-height {
  height: 100vh
}

::ng-deep .toll-spacer {
  flex: 1 1 auto
}

::ng-deep .transparent {
  background-color: transparent
}

@keyframes spin {
  to {
      transform: rotate(360deg)
  }
}

::ng-deep .spinner {
  border           : 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius    : 50%;
  width            : 95px;
  height           : 95px;
  animation        : spin 1s linear infinite
}

::ng-deep .loading-page {
  height: 90%;
  width: 100%
}