<h2 mat-dialog-title>User</h2>

<mat-dialog-content>

  <form [formGroup]="usuarioForm" class="container" fx #f="ngForm" novalidate>
    <div fxLayout="column" fxLayoutAlign="start">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="2.5%">
        <mat-form-field appearance="standard" [floatLabel]="true" [hideRequiredMarker]="false" fxFlex.xs="100%"
          fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="24.6%" fxFlex.xl="24.6%">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email" formControlName="email"
            (change)="verificaEmailExiste($event.target.value)" required />
          <mat-hint class="hintError">
            {{getFormEmailError()}}
          </mat-hint>
        </mat-form-field>

        <span [hidden]="!id || alterarSenha">
          <button mat-flat-button (click)="permitirAlterarSenha()" color="primary">
            <mat-icon>edit</mat-icon>
            Alterar senha
          </button>
        </span>

        <mat-form-field *ngIf="alterarSenha || !id"
          (change)="campoSenha = $event.target.value; verificaCamposSenhaIguais()" appearance="standard"
          [floatLabel]="true" [hideRequiredMarker]="false" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%"
          fxFlex.lg="24.6%" fxFlex.xl="24.6%">
          <mat-label *ngIf="!id">Senha</mat-label>
          <mat-label *ngIf="alterarSenha">Nova senha</mat-label>
          <input matInput type="password" formControlName="newPassword" required />
          <mat-hint class="hintError">
            {{getFormPasswordError()}}
          </mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="alterarSenha || !id" appearance="standard" [floatLabel]="true"
          [hideRequiredMarker]="false" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="24.6%"
          fxFlex.xl="24.6%">
          <mat-label *ngIf="!id">Redigite a senha</mat-label>
          <mat-label *ngIf="alterarSenha">Redigite a nova senha</mat-label>
          <input matInput type="password" formControlName="password"
            (keyup)="campoRedigiteSenha = $event.target.value; verificaCamposSenhaIguais()" required />
          <mat-error>
            Digite novamente sua senha
          </mat-error>
          <mat-hint *ngIf="!camposSenhaIguais" class="hintError">
            Os campos não coincidem
          </mat-hint>
        </mat-form-field>

      </div>
    </div>
  </form>
  
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end end">

  <button mat-dialog-close mat-mini-fab fxFlexOffset="10px" color="theme" matTooltip="Close">
    <mat-icon>close</mat-icon>
  </button>
  <button [disabled]="desabilitarOnSubmit()" mat-mini-fab (click)="onSubmit()" type="submit" color="primary" matTooltip="Save">
    <mat-icon>check</mat-icon>
  </button>

</mat-dialog-actions>
