mat-list-item {
  margin-top   : 10px;
  margin-bottom: 10px;
}

mat-list-item .possui-conta {
  padding-bottom: 10px;
  color         : #999;
}

mat-card {
  max-width: 400px
}

mat-form-field {
  width: 100%
}

.divider {
  margin: auto !important;
  max-width: 300px !important;
  width: 100% !important
}