<section class="full-height" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
        
        <mat-form-field #fullname>
          <mat-label>Fullname</mat-label>
          <input matInput placeholder="Maria José da Silva" formControlName="fullname" required>
          <mat-error *ngIf="isFieldInvalid('fullname')">
            Por favor informe seu nome completo
          </mat-error>
        </mat-form-field>

        <mat-form-field #gender>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" required>
            <mat-option>--</mat-option>
            <mat-option value="MASCULINO">MASCULINO</mat-option>
            <mat-option value="FEMININO">FEMININO</mat-option>
            <mat-option value="OUTRO">OUTRO</mat-option>
          </mat-select>
          <mat-error *ngIf="isFieldInvalid('gender')">
            Por favor informe seu gênero
          </mat-error>
        </mat-form-field>

        <mat-form-field #cpf>

          <mat-label>CPF/CNPJ</mat-label>
          <input matInput placeholder="00011122233" formControlName="cpf" required>

          <mat-error *ngIf="isFieldInvalid('cpf')">
            Por favor informe seu CPF
          </mat-error>
        </mat-form-field>

        <mat-form-field #email>

          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>

          <mat-error *ngIf="isFieldInvalid('email')">
            Por favor informe seu melhor email
          </mat-error>

        </mat-form-field>

        <mat-form-field #password>

          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'"
            [placeholder]="hidePassword ? '********' : 'Password'" formControlName="secret" required>

          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword" (keydown.enter)="hidePassword = !hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="isFieldInvalid('secret')">
            Por favor informe sua senha
          </mat-error>
        </mat-form-field>

        <!-- <mat-form-field>

          <mat-label>Repita sua senha</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'"
            [placeholder]="hidePassword ? '********' : 'Password'" formControlName="secret" required>

          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword" (keydown.enter)="hidePassword = !hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="isFieldInvalid('secret')">
            Por favor informe sua senha
          </mat-error>

        </mat-form-field> -->

        <mat-form-field #nickname>

          <mat-label>Nickname</mat-label>
          <span matPrefix>@ &nbsp;</span>
          <input matInput placeholder="FulanoJr" formControlName="nickname">
          <mat-icon matSuffix (click)="randomNickname()">sync</mat-icon>

        </mat-form-field>

        <mat-list #actions>

          <mat-list-item fxLayoutAlign="center">
            <button mat-raised-button color="primary">Cadastrar</button>
          </mat-list-item>

          <mat-divider inset class="divider"></mat-divider>

          <mat-list-item fxLayoutAlign="center">
            <span mat-line class="possui-conta">Já possui conta?</span>
            <a mat-line mat-raised-button color="primary" routerLink="/login">Login</a>
          </mat-list-item>

        </mat-list>

      </form>
    </mat-card-content>
  </mat-card>
</section>